<%- include('template/cabecera', {tituloweb: 'Crear'}) %>

<div class="container">

    <h1 class="text-center">Agregar pedido nuevo</h1>
    
    <form action="/pedidos" class="my-2" method="POST">
    
        <input 
            type="text"
            placeholder="Ingrese nombre cliente"
            class="form-control my-2"
            name="cliente"
        >
    
        <input 
            type="text"
            placeholder="Ingrese producto"
            class="form-control my-2"
            name="producto"
        >

        <input 
            type="text"
            placeholder="Precio"
            class="form-control my-2"
            name="precio"
        >

        <input 
            type="text"
            placeholder="Fecha entrega"
            class="form-control my-2"
            name="fecha"
        >

        <input 
            type="text"
            placeholder="seña"
            class="form-control my-2"
            name="seña"
        >
    
        <button
            type="submit"
            class="btn btn-success w-100 my-4"
        >
            Agregar
        </button>
    
    </form>

  </div>
    
<%- include('template/footer') %>